@font-face {
    font-family: "Lato";
    src: local("Lato"), url("../fonts/Lato.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Patrick";
    src: local("Patrick"), url("../fonts/Patrick.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Quicksand";
    src: local("Quicksand"), url("../fonts/Quicksand.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }

